* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e1dd;
}

.container {
  height: 100%;
  color: white;
  margin: 50px auto;
}

.main {
  height: 500px;
  background-color: #2c3532;
  display: flex;
  overflow: hidden;
}

.main__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px 20px;
}

.main__containerTemperature {
  font-size: 100px;
  color: #ffcb9b;
}

.main__containerInfo-city {
  font-size: 60px;
  color: #d2e8e3;
}

.main__containerInfo {
  padding-left: 10px;
  padding-bottom: 18px;
}

.main__containerInfo-date {
  font-size: 15px;
  color: #d8b08c;
}

.main__containerWeather {
  padding-bottom: 18px;
  padding-left: 40px;
}

.main__containerWeather-icon {
  font-size: 40px;
  color: #d2e8e3;
}

.main__containerWeather-description {
  font-size: 16px;
  color: #d8b08c;
  text-transform: capitalize;
}

/* Addition */

.addition {
  height: 500px;
  background-color: #106466;
  padding-left: 25px;
}
.addition__container {
  width: 100%;
  padding: 20px 20px;
}

.addition__search {
  position: relative;
}

.addition__search > form > input:nth-child(1) {
  margin: 30px 15px 20px 0;
  padding-bottom: 5px;
  width: 70%;
  outline: none;
  background-color: #106466;
  border: none;
  border-bottom: 1px solid #d8b08c;
  color: #ffcb9b;
  font-size: 15px;
}

.addition__search > form > input:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #d8b08c;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.addition__search > form > input:nth-child(2):hover {
  background-color: #d2e8e3;
}

.addition__cities p {
  margin-bottom: 20px;
}

.addition__cities p a {
  color: #d2e8e3;
  text-decoration: none;
}

.addition hr {
  width: 90%;
  border-color: #d8b08c;
}

.addition__description div {
  display: flex;
  justify-content: space-between;
  margin: 10px 12px 10px 0;
  color: #d2e8e3;
}

/* Link */

.gitHub {
  text-align: center;
  color: #2c3532;
}

.gitHub a {
  text-decoration: none;
  color: #d8b08c;
}

.gitHub a:hover {
  text-decoration: underline;
  color: #106466;
}

@media (max-width: 400px) {
  .main__containerTemperature {
    font-size: 80px;
  }
  .main__containerInfo-city {
    font-size: 50px;
  }

  .main__containerInfo-date {
    font-size: 13px;
  }

  .main__container {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}
