* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e1dd;
}

.container {
  height: 100%;
  color: white;
  margin: 50px auto;
}

.main {
  height: 500px;
  background-color: #2c3532;
  display: flex;
  overflow: hidden;
}

.main__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px 20px;
}

.main__containerTemperature {
  font-size: 100px;
  font-weight: 100;
  margin: 0 10px;
  color: #ffcb9b;
}

.main__containerInfo-city {
  font-size: 60px;
  color: #d2e8e3;
}

.main__containerInfo {
  padding-left: 10px;
  padding-bottom: 18px;
}

.main__containerInfo-date {
  font-size: 15px;
  color: #d8b08c;
}

.main__containerWeather {
  padding-bottom: 18px;
  padding-left: 40px;
}

.main__containerWeather-icon img{
  margin: 0 auto;
  display: block;
}

.main__containerWeather-description {
  font-size: 16px;
  color: #d8b08c;
  text-transform: capitalize;
  word-break: break-word;
  text-align: center;
}

/* Addition */

.addition {
  height: 500px;
  background-color: #106466;
  padding-left: 25px;
}
.addition__container {
  width: 100%;
  padding: 20px 20px;
}

.addition__search {
  position: relative;
}

.addition__search form > input:nth-child(1) {
  margin: 30px 15px 20px 0;
  padding-bottom: 5px;
  width: 70%;
  outline: none;
  background-color: #106466;
  border: none;
  border-bottom: 1px solid #d8b08c;
  color: #ffcb9b;
  font-size: 15px;
}

.addition__search form > input:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #d8b08c;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.addition__search form > input:nth-child(2):hover {
  background-color: #d2e8e3;
}

.addition__description div {
  display: flex;
  justify-content: space-between;
  margin: 10px 12px 10px 0;
  color: #d2e8e3;
  font-size: 16px;
}

/* Weather Forecast */

.WeatherForecast {
  color: #d2e8e3;
  margin: 50px auto;
}

.card-body {
  text-align: center;
  background-color: #2c3532;
}

/* .day__emoji img{
  width: 100%;
} */

.day__temperature span {
  color: #ffcb9b;
}

/* Link */

.SourceLink {
  text-align: center;
  color: #2c3532;
}

.SourceLink a {
  text-decoration: none;
  color: #d8b08c;
}

.SourceLink a:hover {
  text-decoration: underline;
  color: #106466;
}

@media (max-width: 415px) {
  .main__containerTemperature {
    font-size: 80px;
  }
  .main__containerInfo-city {
    font-size: 50px;
  }

  .main__containerInfo-date {
    font-size: 13px;
  }

  .main__container {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}

@media (min-width:768px) and (max-width:1200px){
    .main__container {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
  }

  .addition__search form > input:nth-child(1) {
  margin: 20px 15px 20px 0;
    padding-bottom: 5px;
    width: 69%;
    outline: none;
    background-color: #106466;
    border: none;
    border-bottom: 1px solid #d8b08c;
    color: #ffcb9b;
    font-size: 13px;
  }

  .addition__search form > input:nth-child(2){
    width: 45px;
    height: 45px;
  }

  .addition__description div{
    font-size: 15px;
  }

}

@media (min-width:576px) and (max-width:1201px){
.day__emoji img{
  width: 100%;
}
}